[task]
task_target = train
train_set = data/origin/train_7_3_1.csv
ratio = 0.7

retrain_prefix = 201712222212
model_id = N002
test_set = data/OfflineRisk_201804093002.csv

[boost_parameter]
max_depth = 4
eta = 0.3
nthread = 15
subsample = 1
colsample_bytree = 1
colsample_bylevel = 1

[train_parameter]
num_boost_round = 200
early_stopping_rounds = 30

