[task]
task_target = test
train_set = data/origin/train_7_4_2.csv
ratio = 0.7

test_set = data/origin/train_7_4_2.csv
test_model = models/18070401_N0001.model

[boost_parameter]
max_depth = 4
eta = 0.3
nthread = 15
subsample = 1
colsample_bytree = 1
colsample_bylevel = 1

[train_parameter]
num_boost_round = 200
early_stopping_rounds = 30

