[boost_parameter]
max_depth = 2
eta = 0.09
nthread = 15
subsample = 0.5
colsample_bytree = 0.8
colsample_bylevel = 0.8

[train_parameter]
num_boost_round= 1000
early_stopping_rounds=50

[action_parameter]
train_data_id = train_after2015
model_id = N0001

test_data_id =  test_after201803
test_model = models/18070401_N0001.model

[statistics_file]
train_statistics = testRes/190511_input.csv
test_statistics = testRes/190511_input.csv
